<div class="crud" ng-controller="ProdCtrl">
  <header>
    <h1 class="">{{appTitleCot}}</h1>
  </header>

  <section class="" ng-controller="ProdCtrl">
    <table id="gridCot" class="" ng-table="cotTable">
      <thead>
        <tr>

          <th>Proveedor</th>
          <th>Producto</th>
          <th>Stock</th>
          <th>Precio Unitario</th>
          <th>Codigo</th>
          <th>Cantidad</th>
          <th></th>

        </tr>
        <!--<tr>

          <th>
            <input type="text" name="prod_new" class="" placeholder="Producto" ng-model="prod">
          </th>
          <th>
            <input type="text" name="stock_new" class="" placeholder="Stock" ng-model="stock">
          </th>
          <th>
            <input type="text" name="precio_new" class="" placeholder="Precio Unitario" ng-model="precio">
          </th>
          <th>
            <input type="text" name="cod_new" class="" placeholder="Codigo" ng-model="cod">
          </th>
          <th>
            <button class="btn" ng-click="add()">Añadir</button>
          </th>
          <th></th>

        </tr>-->
      </thead> 

      <tbody>        
        <tr ng-repeat="item in items track by $index">

          <td>
            <span ng-bind="item.ndp" ng-if="!item.show"></span>
            <input type="text" name="ndp" ng-model="item.ndp" ng-if="item.show">
          </td>
          <td>
            <span ng-bind="item.prod" ng-if="!item.show"></span>
            <input type="text" name="prod" ng-model="item.prod" ng-if="item.show">
          </td>
          <td>
            <span ng-bind="item.stock" ng-if="!item.show"></span>
            <input type="text" name="stock" ng-model="item.stock" ng-if="item.show">
          </td>
          <td>
            <span ng-bind="item.precio" ng-if="!item.show"></span>
            <input type="text" name="precio" ng-model="item.precio" ng-if="item.show">
          </td>
          <td>
            <span ng-bind="item.cod" ng-if="!item.show"></span>
            <input type="text" name="cod" ng-model="item.cod" ng-if="item.show">
          </td>
          <td>
            <input type="text" name="cant" ng-model="item.stock">
            <button class="button" ng-click="delete($index)">Eliminar</button>
          </td>

        </tr>
      </tbody>

    </table>    
  </section>
    
</div>